

body {
  animation-name: example2;
  background-size: 50%;
  animation-duration: 200s;
  
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 10px solid;
    text-align: left;
    padding: 40px;

  }
  
  tr:nth-child(odd) {
    background-image: url(pitco/2mad.jpg);
    background-size: 16%;
  }
  tr:nth-child(even) {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
  }

@keyframes example2 {
0%  {background-image: url(pitco/Thanos.gif);}
25% {background-image: url(pitco/FreeV.gif);}
50% {background-image: url(pitco/giphy.gif);}
75% {background-image: url(pitco/FreeV.gif);}
100% {background-image: url(pitco/FreeV.gif);}
}
@keyframes example {
0%   {background-color:red;}
25%  {background-color:yellow;}
50%  {background-color:blue; }
75%  {background-color:green;}
100% {background-color:red; }
}